snippet psvm
	public static void main(String[] args) {
	  ${0}
	}
snippet psvmte
	public static void main(String[] args) throws Exception {
	  ${0}
	}
snippet pc
	public class ${1:`vim_snippets#Filename()`} {

	  ${0}

	}
snippet sop
	System.out.println(${0:"Hello world"});
